* {
    box-sizing: border-box;
    font-family: arial;
}
body {
    position: relative;
    background-color: rgb(75, 176, 238);
    opacity: 0.8;
}

:root {
    --primary: black;
    --secondary: rgb(196, 194, 195);
    --third: rgb(126, 119, 120);
}
header {
    text-align: center;
    font-family: monospace;
    font-size: 36px;
    font-weight: bold;
}
nav {
display: flex;
flex-wrap: wrap;
flex-direction: row;
float: left;
background-color: var(--secondary);
width: 100%;
margin: 0;
}
button:hover {
    background-color: rgb(218, 83, 16);
}
button {
    color:dimgray;
}
h1 {
    font-size: 32px;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 32px;
    flex: 1;
    text-align: left;
    text-decoration:underline;
}
.headercolumn {
    float: left;
    width: 20%;
}
.infocolumn {
    float:right;
    width: 75%;
    margin-right: 200px;
}
#photo {
    align-items: center;
    display: flexbox;
    border: 5px solid red;
    box-sizing: border-box;
    margin-bottom: 50px;
    font-size: 24px;
}
#aboutme {
    text-align: left;
    display: flexbox;
    border: 5px solid red;
    box-sizing: border-box;
    margin-bottom: 50px;
    background-color: var(--secondary);
    margin: 0;
    font-size: 36px;
}
.flexcontainer1,
.flexcontainer2,
.flexcontainer3 {
    margin-left: 0;
    margin-right: 0;
}
.flexcontainer1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.flexcontainer2,
.flexcontainer3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.flex {
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    padding: 50px solid red;
    border: 25px solid green;
    box-sizing: border-box;
    border-radius: 10%;
    flex-direction: column;
    margin: 50px 50px 50px 50px;
}
.flex-large {
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    padding: 50px solid red;
    border: 25px solid green;
    box-sizing: border-box;
    border-radius: 10%;
    flex-grow: 20;
    flex-direction: column;
    margin: 100px 100px 100px 100px;
}
.flex-large:hover,
.flex:hover {
    cursor:progress;
    border-color: rgb(225, 39, 176);
    color:rgb(202, 216, 216);
}
#relative2 {
    position: relative;
    bottom: -25px;
    border: 5px solid var(--primary);
    box-sizing: border-box;
}
.B1,
.B2,
.B3,
.B4,
.B5 {
    box-shadow: rgb(168, 168, 175);

}
h2 {
   text-align: center;
}
h3 {
    text-align: center;
    align-content: center;
    text-decoration: underline;
 }
#Contact-Info {
    text-align: center;
    display: flex;
    flex: wrap;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}
footer {
    width: 100%;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    margin: 0;
}
ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
li {
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: auto;
}
@media screen and (min-width: 980px) {
h1 {
    text-align: center;
}
}
@media screen and (min-width: 768px) {
h1 {
    text-align: center;
}
.headercolumn {
    width: 30%;
    margin-right: 50px;
    text-align: left;
}
.infocolumn {
    width: 70%;
}    
}
@media screen and (min-width: 400px) {
.flexcontainer1,
.flexcontainer2,
.flexcontainer3 {
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
h1 {
    text-align: center;
}
.headercolumn {
   width: 0;
   display: block;
   align-items: center;
}
#aboutme {
    font-size: 20px;
}
.infocolumn {
    width: 0;
    display: block;
    align-items: center;
}

}
@media screen and (max-width: 320px) {
body {
    align-items: center;
}
.headercolumn {
    float: none;
    margin-left: 10px;
}
.infocolumn {
    float:none;
    margin-left: 10px;
}
.flexcontainer1,
.flexcontainer2,
.flexcontainer3 {
    display: block;
    align-items: center;
}
header{
    align-content: center;
}
footer {
    width: 100%;
    margin: 0;
}
}