* {
    box-sizing: border-box;
    font-family: arial;
}
body {
    position: relative;
    background-color: rgb(75, 176, 238);
    opacity: 0.8;
}

:root {
    --primary: black;
    --secondary: rgb(196, 194, 195);
    --third: red;
}
header {
    text-align: center;
    font-family: monospace;
    font-size: 36px;
    font-weight: bold;
}
nav {
display: flex;
flex-wrap: wrap;
flex-direction: row;
float: left;
background-color: var(--secondary);
width: 100%;
margin: 0;
box-shadow: 10px #0ff;
}
button:hover {
    background-color: rgb(218, 83, 16);
}
button {
    color:dimgray;
}
h1 {
    font-size: 32px;
    flex-direction: row;
    margin-top: 32px;
    flex: 1;
    text-align: left;
    text-decoration:underline;
}
.headercolumn {
    align-items: center;
    justify-items: center;
    width: 100%;
}
.infocolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.imgcontainer {
    align-items: center;
    display: flexbox;
    justify-content: center;
    border: 5px solid var(--third);
    box-sizing: border-box;
    margin-bottom: 50px;
    font-size: 24px;
    background-color: var(--secondary);
    width: 50%;
    height: 50%;
}
.bio,
.content1,
.content {
    background-size: cover;
    width: 100%;
    height: auto;
    background-image: url ("/My-Portfolio-Showcase/imgport.png");
    background-repeat: no-repeat;
}
#aboutme {
    text-align: left;
    display: flexbox;
    border: 5px solid var(--third);
    box-sizing: border-box;
    background-color: var(--secondary);
    font-size: 36px;
}
.flexcontainer1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexcontainer2,
.flexcontainer3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.flex-small {
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    padding: 25px solid var(--third);
    border: 20px solid green;
    box-sizing: border-box;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: padding-box;
    width: 50%;
}
.flex-large {
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    padding: 100px;
    border: 20px solid green;
    box-sizing: border-box;
    margin: 10px;
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: padding-box;
    width: 50%;
}
.flex-large:hover,
.flex-small:hover {
    cursor:progress;
    border-color: rgb(225, 39, 176);
    color:rgb(202, 216, 216);
}
#relative1,
#relative2 {
    position: relative;
    top: 0px;
    border: 1px solid var(--primary);
    box-sizing: border-box;
}
.B1,
.B2,
.B3,
.B4,
.B5 {
    box-shadow: rgb(168, 168, 175);

}
h2 {
   text-align: center;
   margin: auto;
}
h3 {
    text-align: center;
    align-content: center;
    text-decoration: underline;
 }
#Contact-Info {
    text-align: center;
    display: flex;
    flex: wrap;
    flex-direction:column;
    align-items: center;
    
}
footer {
    width: 100%;
    background-color: var(--secondary);
    align-items: center;
}
ul {
    list-style-type: square;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
li {
    padding: 20px;
    align-items: center;
}
@media screen and (min-width: 980px) {
h1 {
    text-align: center;
    justify-content: center;
}
h2 {
    text-align: center;
    justify-content: center;
}
}

@media screen and (min-width: 768px) {
h1 {
    text-align: center;
}
h2 {
    text-align: center;
    justify-content: center;
}
.headercolumn {
    width: 30%;
    margin-right: 50px;
    text-align: center;
}
} 
@media screen and (min-width: 325px) {
}
.flex-small {
    font-size: smaller;
}
h1 {
    text-align: center;
}
.headercolumn {
   align-items: center;
   text-align: center;
   justify-content: center;
}
#aboutme {
    font-size: 20px;
}

footer {
    width: 100%;
    justify-items: center;
}

@media screen and (max-width: 320px) {
body {
    align-items: center;
}
.headercolumn {
    text-align: center;
    justify-content: center;
}

#photo, 
#aboutme {
    margin-left:0;
}
}
.flex-large,
.flex-small {
    padding: 5px;
    font-size: 10px;
    border: 5px solid green;
}
header{
    align-content: center;
}
footer {
    max-width: 100%;
    justify-items: center;
    align-items: center;
}
